import * as S from './styles'

const {{pascalCase name}} = ({
  title = 'React Avançado',
  description = 'Typescript, ReactJS, NextJS e Styled Components'
}) => (
  <S.Wrapper>
<h1>{{pascalCase name}}</h1>
  </S.Wrapper>
)

export default {{pascalCase name}}
